{% load thumbnail %}
<div class="row">
  {% if type == 'full' %}
    {% for article in articles %}
    <div class="col-xs-12">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <figure>
            {% thumbnail article.image "600x300" crop="center" as im %}
              <a href="{{ article.get_absolute_url }}"><img src="{{ im.url }}" class="img-responsive"></a>
            {% endthumbnail %}
          </figure>
        </div>
        <div class="col-sm-6 col-xs-12">
          <section class="text-center full-section">
            <h3 class="grid-title"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
            <p class="grid-author">Por <a href="{% url 'authors:detail' article.author.id %}">{{ article.author }}</a></p>
            <p>{{ article.introduction|safe|truncatewords:20 }}</p>
          </section>
        </div>
      </div>
    </div>
    {% endfor %}
  {% elif type == 'double' %}
    {% for article in articles %}
      <div class="col-sm-6 col-xs-12">
        <figure>
          {% thumbnail article.image "600x300" crop="center" as im %}
            <a href="{{ article.get_absolute_url }}"><img src="{{ im.url }}" class="img-responsive"></a>
          {% endthumbnail %}
        </figure>
        <section class="text-center">
          <h3 class="grid-title"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
          <p class="grid-author">Por <a href="{% url 'authors:detail' article.author.id %}">{{ article.author }}</a></p>
          <p>{{ article.introduction|safe|truncatewords:20 }}</p>
        </section>
      </div>
      {% cycle '' '<div class="clearfix"></div>' %}
    {% endfor %}
  {% else %}
    {% for article in articles %}
      <div class="col-sm-4 col-xs-12">
        <figure>
          {% thumbnail article.image "600x300" crop="center" as im %}
            <a href="{{ article.get_absolute_url }}"><img src="{{ im.url }}" class="img-responsive"></a>
          {% endthumbnail %}
        </figure>
        <section class="text-center">
          <h3 class="grid-title"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h3>
          <p class="grid-author">Por <a href="{% url 'authors:detail' article.author.id %}">{{ article.author }}</a></p>
          <p>{{ article.introduction|safe|truncatewords:20 }}</p>
        </section>
      </div>
      {% cycle '' '' '<div class="clearfix"></div>' %}
    {% endfor %}
  {% endif %}
</div>
