@import url(https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy:400,400italic&subset=latin,latin-ext);
@font-face {
  font-family: "Copperplate Gothic Bold V1";
  src: url("../fonts/copperplate.eot");
  /* IE9*/
  src: url("../fonts/copperplate.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("../fonts/copperplate.woff2") format("woff2"), /* chrome、firefox */ url("../fonts/copperplate.woff") format("woff"), /* chrome、firefox */ url("../fonts/copperplate.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url("../fonts/copperplate.svg#Copperplate Gothic Bold V1") format("svg");
  /* iOS 4.1- */
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Sorts Mill Goudy', serif !important;
}
body {
  font-family: 'Sorts Mill Goudy', serif !important;
  font-size: 16px;
}
.container {
  padding: 0;
}
header {
  width: inherit;
}
header .top-header {
  padding: 0 10px 0 10px;
  height: 50px;
}
header .top-header ul {
  list-style: none;
  padding: 0;
}
header .top-header ul li {
  display: inline;
}
header .top-header .social-menu a {
  color: #777;
  font-size: 30px;
}
header .top-header .secondary-menu {
  margin-top: 10px;
}
header .top-header .secondary-menu a {
  color: #777;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
header h1 {
  font-family: 'Copperplate Gothic Bold V1', serif !important;
  font-size: 55px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1;
  margin: 0;
  text-align: center;
}
header h1 a {
  color: #000;
  display: inline-block;
}
header h1 a img {
  vertical-align: baseline;
  padding-right: 15px;
}
header h1 a:hover {
  color: #000;
  text-decoration: none;
}
header nav {
  border-top: 5px double #000 !important;
  border-bottom: 5px double #000 !important;
  border-right: 0 !important;
  border-left: 0 !important;
  border-radius: 0 !important;
  background-color: #fff !important;
}
header nav .mobile-section-header {
  display: none;
}
header nav .edition-mobile {
  display: none;
}
header nav .navbar-nav {
  width: 100%;
  text-align: center;
}
header nav .navbar-nav .fixed-logo {
  display: none;
}
header nav .navbar-nav li {
  text-transform: uppercase;
  font-size: 16px;
  display: inline-block;
  width: 20%;
}
header nav .navbar-nav li a {
  background: inherit;
  color: #000;
}
.version-list {
  padding: 0 30px;
}
.version-list .version-box {
  display: inline-block;
  width: 160px;
}
.version-list .version-box a {
  display: block;
  text-align: center;
  color: #000;
  padding-top: 10px;
}
.version-list .version-box a figure {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 96px;
  overflow: hidden;
}
.version-list .version-box a:hover {
  text-decoration: none;
  background-color: #f6f6f6;
}
.version-list .version-box a p {
  margin: 0;
}
.version-list .version-box a .edition-number {
  font-size: 12px;
  margin-top: 10px;
}
.version-list .version-box a .edition-date {
  font-size: 14px;
  color: #df3331;
}
.content .section {
  margin: 30px 0 60px 0;
}
.content .section .section-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 23px;
  margin: 42px 0 62px 0;
}
.content .section .section-title.no-margin-top {
  margin-top: 5px;
}
.content .section .previous-title {
  text-transform: uppercase;
  font-size: 23px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.content .section .section-block {
  margin-top: 20px;
}
.content .full-section {
  padding: 35px 60px 0 60px;
}
.content .full-section h3 {
  font-size: 30px;
}
.content .grid-title {
  text-transform: uppercase;
}
.content .grid-title a {
  color: #000;
}
.content .grid-author {
  color: #df3331;
  font-size: 16px;
}
.content .grid-author a {
  color: #df3331;
}
/* Article Content */
.main-article .article-info a {
  color: #df3331;
}
.main-article .article-section-title {
  margin-bottom: 0;
}
.main-article .article-author {
  font-style: italic;
}
.main-article .article-author a {
  color: #000;
}
.main-article header {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.main-article header h2 {
  text-transform: uppercase;
}
.main-article .image-caption {
  color: #999;
  font-size: 13px;
  padding: 10px 0 0;
}
.main-article .introduction {
  margin-bottom: 20px;
  text-align: center;
}
.main-article .body {
  font-size: 20px;
  text-align: justify;
}
.main-article .body p {
  text-indent: 50px;
}
.main-article .article-img {
  margin-bottom: 30px;
}
.main-article .share-icons {
  font-size: 22px;
}
.main-article .share-icons a {
  float: right;
  color: #999;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 10px;
}
.main-article .author-bio {
  margin: 40px auto;
  clear: both;
  border-top: 2px solid #000;
  text-align: justify;
}
.main-article .author-bio h3 {
  margin-bottom: 20px;
}
.main-article .author-bio a {
  color: #df3331;
}
.main-article .author-bio figure {
  margin: 0px 20px 10px 0px;
}
.footer {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}
.footer a {
  color: #000;
}
.menu-top-fixed {
  position: fixed;
  top: 0;
  width: inherit;
  background-color: #fff;
  border-top: 0 !important;
  border-bottom-color: #dedede;
  z-index: 10000;
}
.menu-top-fixed li {
  width: 16% !important;
}
.menu-top-fixed .fixed-logo {
  display: inline-block !important;
  width: 20%;
}
.menu-top-fixed .fixed-logo a {
  color: #000 !important;
  font-size: 22px;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  header nav li {
    display: block !important;
    width: 100% !important;
    text-align: left;
  }
  .menu-top-fixed {
    position: relative;
  }
  .fixed-logo {
    display: none !important;
  }
  .navbar-toggle {
    float: left !important;
    margin-left: 15px;
  }
  .edition-mobile {
    display: block !important;
  }
  .mobile-section-header {
    display: block !important;
    text-transform: uppercase;
    text-align: left;
    padding-left: 7px;
    margin-bottom: 0 !important;
    margin-top: 15px;
  }
  .version-list {
    display: none !important;
  }
}
#author-block {
  border-top: 1px solid #ccc;
}
#author-block h2 {
  margin-bottom: 20px;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
}
#author-block img {
  margin: 0 auto;
}
#author-block h3 {
  font-size: 20px;
}
#author-block a {
  color: #df3331;
}
.author-section .author-bio {
  text-align: justify;
}
.author-section header {
  height: 100px;
}
.author-section img {
  float: left;
}
.author-section h2 {
  display: inline-block;
  margin: 36px 0 0 20px;
  text-transform: uppercase;
}
.gallery {
  margin: 0 25px 0 25px;
}
.gallery div {
  padding: 10px;
}
.gallery .slick-prev:before,
.gallery .slick-next:before {
  color: black;
}
/* Publications */
.publication-link {
  font-size: 16px;
  text-indent: 0 !important;
  margin-top: 20px;
}
.publication-link a {
  color: #df3331;
}
.publication-description {
  font-size: 15px;
}
.publication-grid {
  padding: 5px;
}
.publication-grid:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.download-link {
  text-indent: 0 !important;
}
.slick-prev:before {
  content: '←';
  color: black;
}
.slick-next:before {
  content: '→';
  color: black;
}
